*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  color: #323232;
  min-height: 100vh;
  background-color: #fff5ee;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style-type: none;
}

p {
  font-size: inherit;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
  text-decoration: none;
}

input,
input:focus,
textarea,
textarea:focus,
select,
select:focus {
  box-shadow: unset;
  outline: unset;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.sectionCtn {
  width: 100%;
  max-width: 90%;
}

.sectionOne {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sectionOne .setupCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionOne .setupCtn .videoCtn {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.sectionOne .setupCtn .videoCtn video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.sectionOne .setupCtn .overlayCtn {
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  background: #242423;
  opacity: 0.5;
}

.sectionOne header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  padding: 2rem 0;
  transition: all 0.3s ease;
}

.sectionOne header nav {
  width: 90%;
  max-width: 1280px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff5ee;
}

.sectionOne header nav .navLogo {
  display: block;
  margin: -1rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.sectionOne header nav .navMenu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.sectionOne header nav .navMenu .navItem {
  margin: 0 2rem;
}

.sectionOne header nav .navMenu .navItem .navLink {
  display: block;
  margin: -1rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.sectionOne header nav .navMenu .navItem:first-child {
  margin-left: 0;
}

.sectionOne header nav .navMenu .navItem:last-child {
  margin-right: 0;
}

.sectionOne header nav .hamburgerBtn {
  display: none;
}

.sectionOne header nav .hamburgerBtn .barLine {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: #fff5ee;
}

.sectionOne header.sticky {
  background-color: #fff5ee;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sectionOne header.sticky nav {
  color: #323232;
}

.sectionOne header.sticky nav .navMenu .navItem .contactBtn {
  background-color: unset;
  border: unset;
}

.sectionOne header.sticky .hamburgerBtn .barLine {
  background-color: #323232;
}

.sectionOne .wrapperCtn {
  width: 90%;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.sectionOne .wrapperCtn .heroCtn {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 3;
}

.sectionOne .wrapperCtn .heroCtn .contentCtn {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff5ee;
  text-align: center;
}

.sectionOne .wrapperCtn .heroCtn .contentCtn .heroSubHeading {
  font-size: 1.6rem;
  font-weight: 300;
}

.sectionOne .wrapperCtn .heroCtn .contentCtn .heroHeading {
  display: block;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.sectionOne .wrapperCtn .heroCtn .contentCtn .heroCta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionOne .wrapperCtn .heroCtn .contentCtn .heroCta .ctaBtn {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: #d00000;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.sectionOne .wrapperCtn .heroCtn .contentCtn .heroCta .ctaBtn:hover {
  background-color: #dc2f02;
}

.sectionTwo {
  margin: 0 auto;
}

.sectionTwo .wrapperCtn {
  width: 90%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 0;
}

.sectionTwo .wrapperCtn .heroCtn {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 3;
}

.sectionTwo .wrapperCtn .heroCtn .contentCtn {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.sectionTwo .wrapperCtn .heroCtn .contentCtn .heroSubHeading {
  font-size: 1.6rem;
  font-weight: 300;
}

.sectionTwo .wrapperCtn .heroCtn .contentCtn .heroHeading {
  display: block;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.sectionTwo .wrapperCtn .heroCtn .contentCtn .heroText {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
}

.sectionThree {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sectionThree .setupCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionThree .setupCtn .bgImgCtn {
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sectionThree .setupCtn .bgImgCtn img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.sectionThree .setupCtn .overlayCtn {
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  background: #dc2f02;
  opacity: 0.9;
}

.sectionThree .wrapperCtn {
  width: 90%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 0;
}

.sectionThree .wrapperCtn .heroCtn {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 3;
  color: #fff5ee;
}

.sectionThree .wrapperCtn .heroCtn .contentCtn {
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.sectionThree .wrapperCtn .heroCtn .contentCtn .heroSubHeading {
  font-size: 1.6rem;
  font-weight: 300;
}

.sectionThree .wrapperCtn .heroCtn .contentCtn .heroHeading {
  display: block;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.sectionThree .wrapperCtn .heroCtn .contentCtn .heroText {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
}

.sectionThree .wrapperCtn .heroCtn .workCtnRow {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.sectionThree .wrapperCtn .heroCtn .workCtnRow .projectCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 3rem;
}

.sectionThree .wrapperCtn .heroCtn .workCtnRow .projectCtn .imgCtn {
  width: 100%;
  margin-bottom: 0.5rem;
}

.sectionThree .wrapperCtn .heroCtn .workCtnRow .projectCtn .captionLink .projectTitle {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
}

.sectionThree .wrapperCtn .heroCtn .workCtnRow .projectCtn .captionLink .projectDateCategory {
  font-size: 1.2rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .sectionOne header nav {
    width: 100%;
    max-width: 100%;
    padding: 0 2.5rem;
    color: #323232;
  }
  .sectionOne header nav .navLogo {
    font-size: 1.6rem;
    color: #fff5ee;
    transition: all 0.3s ease;
  }
  .sectionOne header nav .navMenu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: -100%;
    margin: 2rem 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    background-color: #fff5ee;
    text-align: center;
    transition: 0.5s;
  }
  .sectionOne header nav .navMenu .navItem {
    width: 100%;
    display: block;
    margin: 0;
    padding: 2rem 0;
    border-top: 1px solid #32323215;
    color: #323232;
  }
  .sectionOne header nav .navMenu .navItem .navLink {
    font-size: 1.6rem;
    font-weight: 700;
  }
  .sectionOne header nav .navMenu.active {
    left: 0;
  }
  .sectionOne header nav .hamburgerBtn {
    display: block;
    cursor: pointer;
  }
  .sectionOne header nav .hamburgerBtn .barLine {
    background-color: #fff5ee;
  }
  .sectionOne header nav .hamburgerBtn.active .barLine:nth-child(2) {
    opacity: 0;
  }
  .sectionOne header nav .hamburgerBtn.active .barLine:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .sectionOne header nav .hamburgerBtn.active .barLine:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .sectionOne header.sticky {
    background-color: #fff5ee;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .sectionOne header.sticky nav {
    color: #323232;
  }
  .sectionOne header.sticky nav .navLogo {
    color: #323232;
  }
  .sectionOne header.sticky nav .navMenu .navItem .contactBtn {
    background-color: unset;
    border: unset;
  }
  .sectionOne header.sticky .hamburgerBtn .barLine {
    background-color: #323232;
  }
  .sectionTwo .wrapperCtn {
    width: 100%;
  }
  .sectionThree .wrapperCtn .heroCtn .contentCtn {
    max-width: 100%;
  }
  .sectionThree .wrapperCtn .heroCtn .workCtnRow {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .sectionThree .wrapperCtn .heroCtn .workCtnRow .projectCtn {
    margin: 1.5rem 0;
  }
  .sectionThree .wrapperCtn .heroCtn .workCtnRow .projectCtn:last-child {
    margin-bottom: 0;
  }
}

footer {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff5ee;
}

footer .wrapperCtn {
  width: 90%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 0;
}

footer .wrapperCtn .heroCtn {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 3;
  color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .wrapperCtn .heroCtn .contentCtn .heroSubHeading {
  font-size: 1.6rem;
  font-weight: 300;
}

footer .wrapperCtn .heroCtn .contentCtn .heroHeading {
  display: block;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #dc2f02;
}

footer .wrapperCtn .heroCtn .socialCtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .wrapperCtn .heroCtn .socialCtn a {
  text-align: center;
}

footer .wrapperCtn .heroCtn .socialCtn a ion-icon {
  display: block;
  padding: 1rem;
  font-size: 2.4rem;
  text-align: center;
}
